> Snapshot-pinned source for Apple Xcode and developer tools snapshot-ef15f2517b3c: [documentation/storekittest/sktestfailures/verification](https://developer.apple.com/documentation/storekittest/sktestfailures/verification)

# SKTestFailures.Verification

**Framework:** StoreKit Test  
**Kind:** Enumeration  
**Availability:** iOS 17.0+ · iPadOS 17.0+ · Mac Catalyst 17.0+ · macOS 14.0+ · tvOS 17.0+ · visionOS 1.0+ · watchOS 10.0+

## Declaration

```swift
enum Verification
```

## Topics

### Enumeration Cases

- [SKTestFailures.Verification.verification(\_:)](verification/verification%28__%29.md)

## Relationships

### Conforms To

- [Equatable](https://developer.apple.com/documentation/swift/equatable)
- [SKTestFailure](../sktestfailure.md)
- [Sendable](https://developer.apple.com/documentation/swift/sendable)
- [SendableMetatype](https://developer.apple.com/documentation/swift/sendablemetatype)

## See Also

### Enumerations

- [SKTestFailures.AppStoreSync](appstoresync.md)
- [SKTestFailures.AppTransaction](apptransaction.md)
- [SKTestFailures.LoadProducts](loadproducts.md)
- [SKTestFailures.ManageSubscriptions](managesubscriptions.md)
- [SKTestFailures.OfferCodeRedeem](offercoderedeem.md)
- [SKTestFailures.Purchase](purchase.md)
- [SKTestFailures.RefundRequest](refundrequest.md)
- [SKTestFailures.SubscriptionStatus](subscriptionstatus.md)
